*{
  margin:0;
  padding: 0;
}

.container {
  width: 90%;
  margin:auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.container img { 
  max-width: 100%;
  min-width: 200px;
}

.container h3 {
  color: #333;
}

.item{
  display:flex;
  flex-direction: column;
}

.item .btn{
  text-decoration: none;
  font-size: 1.3em;
  text-align: center;

}
.titulo{
  display: flex;
  font-size: 1.5em;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color:white;
  padding: 50px;
  margin-bottom: 20px;

}