.container {
  width: 90%;
  margin:auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  /* grid-auto-rows: minmax(100px, auto); */
}
.container img { 
  max-width: 100%;
  min-width: 200px;
}

.container h3 {
  color: #333;
}

.item {
  cursor: pointer;
}